In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

We will start by reading in the by now standard Titanic dataset. It contains infromation about passengers of the Titanic. The informations contain i.a. sex, age, name and familly and passenger class as well as information if the passenger survived or died in the disaster. You can find more information about this data set [here](http://campus.lakeforest.edu/frank/FILES/MLFfiles/Bio150/Titanic/TitanicMETA.pdf).

The data set is in "coma separted values" (csv) format and the read it we will use the [pandas](https://pandas.pydata.org) library. Pandas library provides tools for manipulating  data frames and series and is widly used in data science projects.

In [2]:
data = pd.read_csv("../data/titanic3.csv")

We can check what attributes are stored in the DataFrame by listing the column names:

In [3]:
data.columns

Index(['Unnamed: 0', 'pclass', 'survived', 'name', 'sex', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body',
       'home.dest'],
      dtype='object')

or get a quick preview using ```head``` function:

In [4]:
data.head()

,Unnamed: 0,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

For the description of the features please see the link given above.

Another usefull function is ```info```:

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1309 non-null   int64
 1   pclass      1309 non-null   int64
 2   survived    1309 non-null   int64
 3   name        1309 non-null   object
 4   sex         1309 non-null   object
 5   age         1046 non-null   float64
 6   sibsp       1309 non-null   int64
 7   parch       1309 non-null   int64
 8   ticket      1309 non-null   object
 9   fare        1308 non-null   float64
 10  cabin       295 non-null    object
 11  embarked    1307 non-null   object
 12  boat        486 non-null    object
 13  body        121 non-null    float64
 14  home.dest   745 non-null    object
dtypes: float64(3), int64(5), object(7)
memory usage: 153.5+ KB

As we can see not all attributes are know (non-null) for every passanger. This is a frequent situation in real datasets.

## Problem 1

a) Implement a Bayes classifier for predicting passenger survival  using sex and pclass  features.

We will start by extracting from the frame the only the information we need:

In [6]:
data_pclass_sex = data[['pclass', 'sex', 'survived']]

In [7]:
data_pclass_sex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   sex       1309 non-null   object
 2   survived  1309 non-null   int64
dtypes: int64(2), object(1)
memory usage: 30.8+ KB

Then we need to group passengers according to sex, class and survival status. This can be achived using  the ```groupby``` function:

In [8]:
grouped = data_pclass_sex.groupby(['survived','sex','pclass'])

We can count the number of passegers in each group using function ```size```:

counts = grouped.size()

Object ```counts``` contains all the information that we need to construct the classifier:

In [18]:
print(counts)

NameError: name 'counts' is not defined

You can index ```counts``` to obtain information on specified subgroups. E.g. ```counts[0]``` is a subgroup  that contains people that perished in the disaster.

In [19]:
print(counts[0])

NameError: name 'counts' is not defined

In [ ]:
counts[(0,'female')]

Function ```sum``` can be used to count all passengers in a given (sub)group:

In [ ]:
n_passengers = counts.sum()
n_survivors = counts[1].sum()
n_dead = counts[0].sum()

print(n_passengers, n_survivors, n_dead)
print(n_survivors+n_dead==n_passengers)

To implement classifier we need to calculate the conditional probability of survival given sex and class:

$$P(surv|sex, pclass)$$

We can use the Bayes theorem but it will be actually quicker to calculate it directly from the definition:

$$P(surv|sex, pclass)=\frac{P(surv,sex, pclass)}{P(sex, pclass)}
\approx \frac{\#(surv,sex, pclass)}{\#(sex,pclass)}$$

where by $\#$ I have denoted the number of passengers with given attributes. For example the probability of survival for a women traveling in second class was:

$$\frac{\text{number of women in second class that survived}}{\text{number of women in second class}}$$

That can be calculated using the `counts` object:

In [ ]:
counts[(1,'female',2)]/(counts[(1,'female',2)]+counts[(0,'female',2)])

This operation has to be repeated for every sex and class combination.

b) Calculate TPR and FPR on test set. Draw the ROC curve and calculate AUC score

c) Are those featuyres conditionally independent?

d) Implement a Naive bayes classifier using same features and compare it with a).

## Problem 2

Add age as a feature and implement naive bayes classifier.

#### Hint: 
Consider using it as a categorical variable